body{
    background-color: rgb(52, 60, 110);
    width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.fondo{
    background-color:black;
    display:flex;
    justify-content: center;
    align-items:center;
    width: 45rem;
    height: 50rem;

}

.post{
    display:flex;
    flex-direction:column;
    background-color:white;
    width: 23rem;
    height: 32rem;
    border-radius:2%;
    
    

}
/* Distribuimos el header con space:between*/
.header{
    display:flex;
    justify-content: space-between;
    padding:0.5rem;
    align-items:center;
   
    border-radius:3%;
}


.iconosHeaderIzq{
    display:flex;
    align-items:center;
    
}
/*Icono Html*/
.fa-html5{
    font-size:2rem;
}

.username{
    display:flex;
    flex-direction:column;
}
/*Importante:quitamos margenes por defecto de <p>*/
 p{
    margin:0;
}
.iconosHeaderDcha{
    display:flex;
    flex-direction: column;
    gap:0.20rem
}
/* elipsis */
.fa-circle{
    font-size: 0.5rem;
    
}
/*configuramos limites de la imagen*/
.imgSection{
    width:100%;
    height:16rem;
    overflow:hidden
}
/*Ajustamos para que ocupe dichos limites*/
.imgSection img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.footer{
    display:flex;
    flex-direction: column;
    height:18rem;
    justify-content:space-around;
    padding:0.8rem;
    
}

.footer p{
    font-size:0.95rem;
}

.iconosFooter{
    display:flex;
    justify-content:space-between;
    
}

.iconosFooterIzq{
    display:flex;
    
}
/*Corazón*/
.fa-heart{
    font-size:1.9rem;
}
/*Comment*/
.fa-comment{
    font-size:1.9rem;
}
/*Compartir*/
.fa-share{
    font-size:1.9rem;
}
/*Save*/
.fa-bookmark{
    font-size:1.9rem;
}

.text{
    display:flex;
    flex-direction:column;
    
    
    
}