body{
    background-color: rgb(52, 60, 110);
    width: 100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.fondo{
    background-color:black;
    display:flex;
    justify-content: center;
    align-items:center;
    width: 45rem;
    height: 45rem;

}

.post{
    display:flex;
    flex-direction:column;
    background-color:white;
    width: 23rem;
    height: 35rem;
    border-radius:3%;
    

}

.header{
    display:flex;
    justify-content: space-between;
    width: 23rem;
    height:2.5rem;
    background:rgb(255, 255, 255);
    border-radius:3%;
}

.iconosHeaderIzq{
    display:flex;
    padding:1px;
}
.iconosHeaderDcha{
    display:flex;
    flex-direction: column;
    
}
.imgSection img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.footer{
    display:flex;
    flex-direction: column;
    width:23rem;
    height:15rem;
    padding:1rem;
}

.iconosFooter{
    display:flex;
    justify-content:space-between;
    
}

.iconosFooterIzq{
    display:flex;
    
}